---
const { volume } = Astro.props;
---

<article class="volume">
  <div class="volume_topWrapper">
    <h1 class="page_title">{volume.title}</h1>
  </div>
  <div class="main-content relative flex flex-row mr-6">
    <div class="volume_content">
      {
        volume.sections.map((section, i) => (
          <>
            <h2 class="chapter_title" id={section.id}>
              {section.title}
            </h2>
            {section?.chapters.map((chapter) => (
              <h4 class="chapter_title" id={chapter.id}>
                {chapter.title}
              </h4>
              <ul>
                {chapter?.articles.map((article) => (
                  <li class="">
                    <span class="mr-1 ">
                      {article.authors
                        .map((a) => a.author_id.fullname)
                        .join(", ")}{" "}
                      :
                    </span>
                    <span class="article_title ">
                      <a href={`/articles/${article.slug}`}>{article.title}</a>
                    </span>
                  </li>
                ))}
              </ul>
            ))}
            <ul>
              {section.articles.map((article) => (
              <li class="">
                    <span class="mr-1 ">
                      {article.authors
                        .map((a) => a.author_id.fullname)
                        .join(", ")}{" "}
                      :
                    </span>
                    <span class="article_title ">
                      <a href={`/articles/${article.slug}`}>{article.title}</a>
                    </span>
                </li>
              ))}
            </ul>
          </>
        ))
      }
      <div></div>
    </div>
  </div>
</article>

<style>
  .volume_content {
    @apply mx-4 text-lg text-left w-full max-w-3xl mb-20  leading-normal mt-4;
  }

  .authors {
    @apply mr-2;
  }


  .article_title {
    @apply text-lg font-semibold;
  }
  h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
</style>
